{% extends 'base.html' %}

{% block title %}Search for letters{% endblock %}

{% block content %}
    <div id="search-form-container">
        <h3>Welcome to search4letters on the web!</h3>
        <form id="search-form" method="POST" action="/search">
            <p id="search-form-title">Use this form to submit a search request:</p>

            <label for="phrase">Phrase:</label>
            <input id="phrase" type="text" name="phrase" placeholder="Phrase to test">

            <label for="letters">Letters:</label>
            <input id="letters" type="text" name="letters" placeholder="Letters to find">

            <p>When you're ready, click this button:</p>
            <input type="submit" value="Do it!">
        </form>
    </div>
{% endblock %}
