{% extends 'base.html' %}

{% block title %}Log{% endblock %}

{% block content %}
    <table>
        <tr>
            {% for caption in table_captions %}
                <th>{{ caption }}</th>
            {% endfor %}
        <tr>
        {% for row in log %}
        <tr>
            {% for param in row %}
                <td>{{ param }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
