{% extends 'base.html' %}

{% block titile %}Search results{% endblock %}

{% block content %}
    <div id="results">
        <h2>Here you results:</h2>
        <p>You submitted the following data:</p>
        <div id="input-data">
            <table>
                <tr>
                    <td>Phrase:</td>
                    <td>{{ phrase }}</td>
                </tr>
                <tr>
                    <td>Letters:</td>
                    <td>{{ letters }}</td>
                </tr>
            </table>
        </div>
        <p>
            When <span class="input-data">"{{ phrase }}"</span> is search for
            <span class="input-data">"{{ letters }}"</span>,
            the following results are returned:
        </p>
        <p>{{ results }}</p>
    </div>
{% endblock %}
