<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
