#search-form {
  border: 1px solid lightgray;
  padding: 15px;
  margin-left: 20%;
  margin-right: 20%;
}
#search-form-container {
  text-align: center;
}
#input-data {
  margin-left: 30px;
}
#results {
  border: 1px solid lightgray;
  padding: 15px;
  text-align: center;
}
.input-data {
  font-weight: bold;
}
table {
  font-size: 1em;
  background-color: #fafcff;
  color: #2a2a2a;
  padding: 5px 5px 2px;
  border-collapse: collapse;
}
table,
table td,
table th {
  border: 1px solid #909090;
}
table {
  margin-left: 20px;
  margin-right: 20px;
  caption-side: bottom;
  border-collapse: collapse;
}
td,
th {
  padding: 5px;
  text-align: left;
}
